<div
  id="message_container"
  style="height: 65vh; overflow-y: scroll"
  class="container border border-dark rounded bg-dark bg-opacity-25"
></div>

<form id="form_message" class="input-group mb-3 mt-3">
  <input
    type="text"
    class="form-control"
    name="message"
    placeholder="Message"
    aria-label="message"
    aria-describedby="message"
    autocomplete="off"
  />
  <button class="btn btn-primary" type="submit" id="send">Send</button>
</form>
<div class="warning_message"></div>
